.Search-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.time-font {
  color: black;
  font-size: 12px;
}
.icon {
  height: 30px;
  width: 30px;
}
.domain-description {
  color: grey;
  font-size: 12px;
}
delete-icon {
  height: 20px;
  width: 20px;
}
